{% extends "base.html" %}
{% load static %}

{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <div class="row">
      <div class="col-9">
        Нельзя просто взять и поменять направление развития. Нужно либо необходимость, либо куча свободного времени и невероятное желание развиваться.<br>
        Мой случай - необходимость, плюсом ещё с 15 лет грезил и пытался в программирование, но мои потуги так и остались на начальных уровнях HTML, Python и C++.<br>
        Сейчас есть и желание - всегда любил автоматизацию и логику, а написание кода - это логика, его улучшение - автоматизирование и удобство (Лучше изменить одну строку, чем десять, да?)<br>
        Итогом моего текущего 2-ухмесячного обучения стал этот маленький проект, который для начинающего меня стоил довольно много сил.<br>
        <p>По мере обучения он развивался и будет развиваться вместе со мной и, кому интересно, тот всегда может скачать разные его версия с репозитория.</p>
        Несмотря на видимое развитие - очень часто есть ощущение что плаваю в знаниях, под конец этого спринта оно усилилось до "тону".<br>
        Тут остаётся только повторять и верить, что так и должно, хоть это сильно и деморализует. Вера других в мою веру в себя также помогает.<br>
        <p>Что могу сказать? Спасибо родным за осуществление мечты, девушке за поддержание в сложные мозговые штурмы. Это очень помогло.</p>
        Спасибо всем кто дочитал, вот вам маленькая <a href="{% static 'IMG_001.jpg' %}">наградка</a> за ваши труды.
      </div>
      <div class="col-3" style="background: pink;">
        <p>Ссылки на себя любимого:</p>
        <p><a href="https://github.com/Certelen">GitHub</a></p>
        <p><a href="https://discordapp.com/users/129239655185907713">Discord</a></p>
      </div>
  </div>
{% endblock %} 