{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
    <h1>Вот что я умею</h1>
    <article class="col-12">
      <p>Для создания данного проекта использовался:</p>
    </article>
    <aside class="col-6">
      <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      </ul>
    </aside>
    <aside class="col-6">
      <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Предоставленные Я.Практикумом html, css шаблоны и изображения.
      </li>
      <li class="list-group-item">
        Notion
      </li>
      </ul>
    </aside>
    </div>
  </div>
{% endblock %} 